<section class="banner" >
    <div class="banner__text">
        <h2 class="banner__title">Bienvenido a El Blog de las Comunicaciones Satelitales</h2>
          <span class="banner__subtitle">Tu fuente de información sobre la tecnología que nos conecta
          </span>
    </div>
</section>

<style>
    .banner{
    min-height: 620px;
    background-image: url("img/satelite.jpg");
    background-size: cover ;
    display: grid;
    background-repeat: no-repeat;
    justify-content:center;
    align-items:center;
    text-align: center;

    }

    .banner__title{
        color:white;
        font-size: 5rem;
        text-shadow: 4px 4px 1px var(--color-primary);
    }

    .banner__subtitle{
        font-size: 1.5rem;
        color:white;
        text-shadow: 4px 4px 1px var(--color-primary);
    
    }
</style>